body {
  margin: 2rem;
}

.title_line {
  border: 1px solid;
  background-color: black;
}

.text {
  margin-left: 45px;
}

.sub_index {
  margin-left: 50px;
}

.photo-margin {
  margin-left: 45px;
}
.photo-size {
  height: 280px;
  width: 330px;
}

.photo-legend {
  margin-top: 0px;
  font-size: smaller;
}

.image_listing div {
  display: flex;
}
.image_listing li {
  margin-bottom: 2rem;
}
.image_listing span {
  width: 50%;
}

.contact_details {
  display: flex;
  align-items: center;
}

.contact_details img {
  margin: 0 4rem 0 4rem;
}

.contact_details p {
  margin: 0;
}

form {
  margin-bottom: 2rem;
}

input,
label {
  display: block;
}
